@using EPiServer.Web.Mvc.Html

@model Blog.Models.Blocks.StandardPage.Articles.ArticleBlock

<div>
    <h1>@Html.PropertyFor(x => x.Title)</h1>
    <h3>@Html.PropertyFor(x => x.Description)</h3>
    <img src="@Url.ContentUrl(Model.Image)" />
</div>