@using EPiServer.Web.Mvc.Html

@model Blog.Models.Blocks.StandardPage.Articles.ArticleBlock

<div class="card Portfolio-Item-Height">
    <div class="card-body">
        <h4 class="card-title">
            <a href="#">
                @Html.PropertyFor(x => x.Title)
            </a>
        </h4>
        <p class="card-text">
            @Html.PropertyFor(x => x.Description)
        </p>
    </div>
    <a href="#"><img class="card-img-bottom" src="@Url.ContentUrl(Model.Image)" alt=""></a>
</div>
